<form method="post" action="/cart">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <button type="submit" class="btn"> Add to cart </button>
            
        </form>